body {
  with: 100%;
  margin: 0;
  text-align: center;
}

li{
  display: inline-block;
  width: 30%;
  margin: 1%;
}

img {
  width: 100%;
}

#player{
  background: red;
  z-index: 10;
}

iframe {
  pointer-events: none;
  position: absolute;
  z-index: -10;
  left: 0px;
  top: 0px;
  width: 100%;
  margin: 0;

}