body {
  background: #252525;
}

nav {
  background: white;
  color: black;
}

nav ul a {
  padding: 1rem 15px;
  color: black;
}

.showroom {
  margin: 1.5rem 0;
}

img {
  width: 100%;
}

h1,h2,h3,h4,h5,h6,body {
  color: #F5F7FC;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.no-padding,
.card-content {
  padding: 0 !important;
}

.all-left {
  left: 0px !important;
}

.top-margin{
  margin-top: 2rem !important;
}


/*WIKIPEDIA INFO*/
.color-black,
#popop_1_info{
  line-height: 1.8rem;
}

.color-black a,
#popop_1_info a{
  color: black !important;
  margin-right: 0px !important;
}

.color-black h2,
.color-black li,
.reflist,
.reference{
  display: none !important;
}

.user-button{
  display: inline-block;
  margin: .6rem .7rem;
  cursor: pointer;
}

.row {
  margin-bottom: 0px;
}

nav {
  height: 100%;
}

.show {
  display: inline-block;
}

.modal-content h2,
.no-padding h2, 
.modal-content{
  color: black !important;
}





